<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Simulador de Procesos</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" href="../assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>
<body>
    <section id="panel">
        <div class="row">
            <div class="col">
                <h1 class="titleheadings">Planificacion de Procesos</h1>
            </div>
            <button class="btn btn-primary coolbtn" type="button" onclick="goBack()">
                <i class="fas fa-chevron-circle-left"></i>
                Lista
            </button>
        </div>
        <div class="row" id="simulator">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <p>Memoria Total: {{total_memory}}MB</p>
                    </div>
                    <div class="col">
                        <p>Memoria Usada: {{used_memory / 1000}}MB</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-primary coolbtn" type="button" onclick="run()">
                            <i class="fas fa-play"></i>
                            Iniciar
                        </button>
                        <button class="btn btn-primary coolbtn" type="button" onclick="stop()">
                            <i class="fas fa-stop"></i>
                            Detener
                        </button>
                        <button class="btn btn-primary coolbtn" type="button" @click="reloadTable" onclick="reload()">
                            <i class="fas fa-redo-alt"></i>
                            Recargar
                        </button>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <label for="algorithm"><strong>Algoritmo:</strong></label><select id="algorithm">
                        <option value="1" selected="selected">FIFO</option>
                        <option value="2">Prioridad</option>
                        <option value="3">Round Robin</option>
                        <option value="4">SJF</option>
                    </select>
                    </div>
                    <div class="col" style="right: 40px">
                        <label for="quantum"><strong>Quantum:</strong></label><select id="quantum">
                        <option value="0" selected="selected">No Aplica</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                    </select>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <h4 class="states">Cola</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="width:360px; height:200px; overflow:auto;">
                        <table class="table table-striped table-bordered" cellspacing="0"  v-if="show">
                            <thead>
                            <tr>
                                <th>PID</th>
                                <th>A</th>
                                <th>P</th>
                                <th>T</th>
                                <th>Q</th>
                                <th>Device</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="row in rows" v-if="show">
                                <td>{{row.pid}}</td>
                                <td>{{row.arrival}}</td>
                                <td>{{row.priority}}</td>
                                <td>{{row.burst}}</td>
                                <td>{{row.quantum}}</td>
                                <td>{{row.device}}</td>
                                <td>{{"Esperando"}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h3 class="subheadings">Estados Basicos</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h1 class="states">Ejecutando</h1>
                    </div>
                    <div class="col">
                        <h1 class="states">Suspendido</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <textarea readonly id="running"></textarea>
                    </div>
<!--                    <div style="position: absolute; font-size:50px; left: 210px;">&rarr;</div>-->
<!--                    <div style="position: absolute; font-size:50px; left: 210px;">&searr;</div>-->
                    <div class="col">
                        <textarea readonly id="suspended"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h1 class="states">Controles</h1>
                    </div>
                    <div class="col">
                        <h1 class="states">Terminados</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-primary coolbtn" type="button" onclick="pause()" disabled>
                            <i class="fas fa-pause"></i>
                            Parar
                        </button>
                        <button class="btn btn-primary coolbtn" type="button" onclick="kill()" disabled>
                            <i class="fas fa-skull-crossbones"></i>
                            Matar
                        </button>
                    </div>
                    <div class="col">
                        <textarea readonly id="finished"></textarea>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <h3 class="subheadings">Estados Intermedios</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h1 class="states">Susp. Bloq</h1>
                    </div>
                    <div class="col">
                        <h1 class="states">Susp. Listo</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <textarea readonly id="susp-lock"></textarea>
                    </div>
                    <div class="col">
                        <textarea readonly id="susp-ready"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../node_modules/vue/dist/vue.js"></script>
    <!-- Custom JS -->
    <script src="../js/simulator.js"></script>
</body>

</html>